<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.com.org">
<div th:replace="shared/header"></div>

                <div class="container-fluid">
                        <!-- Page Heading -->
                        <h1 class="h3 mb-2 text-gray-800">Usuários Cadastrados</h1>
                        <p class="mb-4">Bom dia professor! <a target="_blank"</p>

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <a href="/administrator/novo" class="btn btn-primary" style="margin-right: 20px;"
                                >Cadastrar Nota</a>
                            </div>
                        <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <a href="/administrator/novo" class="btn btn-primary" style="margin-right: 20px;"
                                    >Adicionar Matéria</a>
                        </div>
                        </div>

                    </div>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <!-- /.container-fluid -->
<div th:replace="shared/footer"></div>