<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.com.org">
<div th:replace="shared/header"></div>

                <div class="container-fluid">
                        <!-- Page Heading -->
                        <h1 class="h3 mb-2 text-gray-800">EDIÇÃO DE CADASTRO DE PESSOA FÍSICA</h1>
                        <p class="mb-4">
                            EDITE OS DADOS DA PESSOA FÍSICA.
                        </p>
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4" style="padding: 30px">
                            <form method="POST" th:action="@{'/administrator/' + ${user.id} + '/atualizar'}">
                                <div class="form-group">
                                    <label for="txNome">Nome</label>
                                    <input type="text" class="form-control" th:value="${user?.txNome}" required id="txNome" name="txNome" placeholder="Digite o nome">
                                </div>
                                <div class="form-group">
                                    <label for="txCpf">CPF</label>
                                    <input type="text" class="form-control" th:value="${user?.txCpf}" required id="txCpf" name="txCpf" placeholder="Digite o CPF (APENAS NÚMEROS)">
                                </div>
                                <div class="form-group">
                                    <label for="txEndereco">Endereço</label>
                                    <input type="text" class="form-control" th:value="${user?.txEndereco}" required id="txEndereco" name="txEndereco" placeholder="Digite o Endereço">
                                </div>
                                <div class="form-group">
                                    <label for="txTelefone">Telefone</label>
                                    <input type="text" class="form-control" th:value="${user?.txTelefone}" required id="txTelefone" name="txTelefone" placeholder="Digite o Telefone (APENAS NÚMEROS)">
                                </div>
                                <div class="form-group">
                                    <label for="txEmail">E-mail</label>
                                    <input type="email" class="form-control" th:value="${user?.txEmail}" required id="txEmail" name="txEmail" placeholder="Digite o E-mail">
                                </div>
                                <div class="form-group">
                                    <label for="txSenha">Senha</label>
                                    <input type="password" class="form-control" th:value="${user?.txSenha}" required id="txSenha" name="txSenha" placeholder="Digite a senha">
                                </div>

                                <button type="submit" class="btn btn-primary">Editar Usuário</button>
                            </form>

                        </div>

                    </div>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <!-- /.container-fluid -->
<div th:replace="shared/footer"></div>