<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.com.org">
<div th:replace="shared/header"></div>

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">PAINEL DO PROFESSOR</h1>
    <p class="mb-4">Aqui você adicionar um material (pdf, docx, etc) ou cadastrar notas para seus alunos. <a target="_blank"</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="/#" class="btn btn-primary" style="margin-right: 20px;"
            >Cadastra Matéria</a>
        </div>
        <div class="card-body">
            <h6 class="m-0 font-weight-bold text-primary">LISTA DE ALUNOS</h6>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Registro</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Nota</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Registro</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Nota</th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="aluno : ${alunos}">
                        <!-- Aluno -->
                        <td th:text="${aluno.idAluno}"></td>
                        <td th:text="${aluno.txNomeAluno}"></td>
                        <td th:text="${aluno.txEmailAluno}"></td>
                        <td th:text="${aluno.txNotaAluno}"></td>
                        <td><a th:href="@{'/aluno/' + ${aluno.idAluno} + '/editarnotaaluno'}" class="btn btn-warning">Alterar</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</nav>
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <!-- /.container-fluid -->
<div th:replace="shared/footer"></div>