<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.com.org">
<div th:replace="shared/header"></div>

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Cadatro Novo Professor</h1>
    <p class="mb-4">
        Aqui iremos cadastrar um novo PROFESSOR.
    </p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4" style="padding: 30px">
        <form method="POST" action="/pf/professor/criar" onsubmit="return confirm('Confirma o envio dos dados?')">
            <div class="form-group">
                <label for="txFuncaoProfessor">Função</label>
                <input type="text" class="form-control" required id="txFuncaoProfessor" name="txFuncaoProfessor" placeholder="Digite a Função">
            </div>
            <div class="form-group">
                <label for="txNomeProfessor">Nome</label>
                <input type="text" class="form-control" required id="txNomeProfessor" name="txNomeProfessor" placeholder="Digite o nome">
            </div>
            <div class="form-group">
                <label for="txCpfProfessor">CPF</label>
                <input type="text" class="form-control" required id="txCpfProfessor" name="txCpfProfessor" placeholder="Digite o CPF(APENAS NÚMEROS)">
            </div>
            <div class="form-group">
                <label for="txEnderecoProfessor">Endereço</label>
                <input type="text" class="form-control" required id="txEnderecoProfessor" name="txEnderecoProfessor" placeholder="Digite o Endereço">
            </div>
            <div class="form-group">
                <label for="txTelefoneProfessor">Telefone</label>
                <input type="text" class="form-control" required id="txTelefoneProfessor" name="txTelefoneProfessor" placeholder="Digite o Telefone (APENAS NÚMEROS)">
            </div>
            <div class="form-group">
                <label for="txEmailProfessor">E-mail</label>
                <input type="email" class="form-control" required id="txEmailProfessor" name="txEmailProfessor" placeholder="Digite o E-mail">
            </div>
            <div class="form-group">
                <label for="txSenhaProfessor">Senha</label>
                <input type="password" class="form-control" required id="txSenhaProfessor" name="txSenhaProfessor" placeholder="Digite a senha">
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar Professor</button>
        </form>

    </div>

</div>
</nav>
<!-- End of Topbar -->
<!-- Begin Page Content -->
<!-- /.container-fluid -->
<div th:replace="shared/footer"></div>