<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.com.org">
<div th:replace="shared/header"></div>

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Cadatro Novo Aluno</h1>
    <p class="mb-4">
        Aqui iremos cadastrar um novo Usuário.
    </p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4" style="padding: 30px">
        <form method="POST" action="/pf/professor/criar" onsubmit="return confirm('Confirma o envio dos dados?')">
            <div class="form-group">
                <label for="txFuncao">Função</label>
                <input type="text" class="form-control" required id="txFuncao" name="txFuncao" placeholder="Digite a Função">
            </div>
            <div class="form-group">
                <label for="txNome">Nome</label>
                <input type="text" class="form-control" required id="txNome" name="txNome" placeholder="Digite o nome">
            </div>
            <div class="form-group">
                <label for="txCpf">CPF</label>
                <input type="text" class="form-control" required id="txCpf" name="txCpf" placeholder="Digite o CPF(APENAS NÚMEROS)">
            </div>
            <div class="form-group">
                <label for="txEndereco">Endereço</label>
                <input type="text" class="form-control" required id="txEndereco" name="txEndereco" placeholder="Digite o Endereço">
            </div>
            <div class="form-group">
                <label for="txTelefone">Telefone</label>
                <input type="text" class="form-control" required id="txTelefone" name="txTelefone" placeholder="Digite o Telefone (APENAS NÚMEROS)">
            </div>
            <div class="form-group">
                <label for="txEmail">E-mail</label>
                <input type="email" class="form-control" required id="txEmail" name="txEmail" placeholder="Digite o E-mail">
            </div>
            <div class="form-group">
                <label for="txSenha">Senha</label>
                <input type="password" class="form-control" required id="txSenha" name="txSenha" placeholder="Digite a senha">
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar Usuário</button>
        </form>

    </div>

</div>
</nav>
<!-- End of Topbar -->
<!-- Begin Page Content -->
<!-- /.container-fluid -->
<div th:replace="shared/footer"></div>