<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.com.org">
<div th:replace="shared/header"></div>

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">PORTAL DA UNIVERSIDADE FAKE</h1>
    <p class="mb-4">ESCOLHA COMO DESEJA LOGAR <a target="_blank"</p>

    <!-- DataTales Example -->


    <div class="card-header py-3">
        <a href="/login/admin" class="btn btn-primary" style="margin-right: 20px;">Login Administrador</a>
    </div>

    <div class="card-header py-3">
        <a href="/login/aluno" class="btn btn-primary" style="margin-right: 20px;">Login Aluno</a>
    </div>

    <div class="card-header py-3">
        <a href="/login/professor" class="btn btn-primary" style="margin-right: 20px;">Login Professor</a>
    </div>

    <div class="card-header py-3">
        <a href="/login/fornecedor" class="btn btn-primary" style="margin-right: 20px;">Login Fornecedor</a>
    </div>
</div>
</nav>

<div th:replace="shared/footer"></div>