<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.com.org">
<div th:replace="shared/header"></div>

                <div class="container-fluid">
                        <!-- Page Heading -->
                        <h1 class="h3 mb-2 text-gray-800">Cadatro Novo Aluno</h1>
                        <p class="mb-4">
                            Aqui iremos cadastrar um novo Fornecedor(PJ).
                        </p>
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4" style="padding: 30px">
                            <form method="POST" action="/pj/fornecedor/criar" onsubmit="return confirm('Confirma o envio dos dados?')">
                                <div class="form-group">
                                    <label for="txFuncaoFornecedor">Função</label>
                                    <input type="text" class="form-control" required id="txFuncaoFornecedor" name="txFuncaoFornecedor" placeholder="Digite a Função">
                                </div>
                                <div class="form-group">
                                    <label for="txRazaoSocialFornecedor">Razão Social</label>
                                    <input type="text" class="form-control" required id="txRazaoSocialFornecedor" name="txRazaoSocialFornecedor" placeholder="Digite o nome">
                                </div>
                                <div class="form-group">
                                    <label for="txCnpjFornecedor">CNPJ</label>
                                    <input type="text" class="form-control" required id="txCnpjFornecedor" name="txCnpjFornecedor" placeholder="Digite o CNPJ (APENAS NÚMEROS)">
                                </div>
                                <div class="form-group">
                                    <label for="txEnderecoFornecedor">Endereço</label>
                                    <input type="text" class="form-control" required id="txEnderecoFornecedor" name="txEnderecoFornecedor" placeholder="Digite o Endereço">
                                </div>
                                <div class="form-group">
                                    <label for="txTelefoneFornecedor">Telefone</label>
                                    <input type="text" class="form-control" required id="txTelefoneFornecedor" name="txTelefoneFornecedor" placeholder="Digite o Telefone (APENAS NÚMEROS)">
                                </div>
                                <div class="form-group">
                                    <label for="txEmailFornecedor">E-mail</label>
                                    <input type="email" class="form-control" required id="txEmailFornecedor" name="txEmailFornecedor" placeholder="Digite o E-mail">
                                </div>
                                <div class="form-group">
                                    <label for="txSenhaFornecedor">Senha</label>
                                    <input type="password" class="form-control" required id="txSenhaFornecedor" name="txSenhaFornecedor" placeholder="Digite a senha">
                                </div>

                                <button type="submit" class="btn btn-primary">Cadastrar Usuário</button>
                            </form>

                        </div>

                    </div>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <!-- /.container-fluid -->
<div th:replace="shared/footer"></div>