<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.com.org">

<div th:replace="shared/header"></div>
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"><span>Olá <span th:text="${nome}"></span> seja muito bem vindo a sua área administrativa</h1>
                </div>
            </div>
            <!-- /.container-fluid -->
            </div>
<div th:replace="shared/footer"></div>
        <!-- End of Main Content -->

